<a href="https://colab.research.google.com/github/Sayyedzaid11/python_01/blob/Assignment/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Assignment_01**

**List**

In [1]:
# if we want to check directly like (list_1 > list_2) then we need to give only one datatype values like string,integer

list_1=[23,3,43,56,75,34]
list_2=[74,65,43,5,45,23]

print(list_1<list_2)
print(list_1>list_2)
print(list_1<=list_2)
print(list_1>=list_2)
print(list_1==list_2)
print(list_1!=list_2)

True
False
True
False
False
True

**Tuple**

In [4]:
tuple_1=("Herry","Roy","Tom",32,"Welcome")
tuple_2=("Joy","teddy",7382,"Sem")
a=len(tuple_1)
b=len(tuple_2)
print(a<b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

False
False
True
False
False
True

**Set**

In [5]:
set_1={"hello","tom","welcome",32,23,45}
set_2={"welcome","to","mumbai",73,928,438}
a=len(set_1)
b=len(set_2)
print(a<b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

False
False
True
True
True
False

**dictionary**

In [6]:
mydic_1={"Brand":"Vivo","Value":5000}
mydic_2={"Course":"Python","Year":2022}
a=len(mydic_1)
b=len(mydic_2)
print(a<b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

False
False
True
True
True
False

**Assignment_02**

In [10]:
#TOPIC create a function and Ask the users for two inputs and ask  what is the operators
#create a function which gets two user inputs as operands and the operation to be performed on them as user input as well. and do the calculation

num1=int(input("enter the value of num1:"))
num2=int(input("enter the value of num2:"))

operator=input("Enter the operator:")
if operator == "+":
  print(num1 + num2)
elif operator == "-":
  print(num1 - num2)
elif operator == "*":
  print(num1 * num2)
elif operator == "/":
  print(num1/num2)
else:
  print("Invalid operator")

enter the value of num1:230
enter the value of num2:150
Enter the operator:+
380

**Assignment_03**

In [43]:
myfile=open("file.txt","r")
print(myfile.read())
myfile.close()

hello friends,
My name is tom,
i am 24 years old.

In [53]:
myfile = open("file.txt","r+")
print(myfile.write("I live in Nagpur"))
myfile.close()

16

In [54]:
myfile=open("file.txt","r")
print(myfile.read())
myfile.close()

I live in Nagpur   name is tom,
i am 24 years old.

In [55]:
myfile= open("file.txt","w+")
print(myfile.write("i live in Nagpur scince 7 years"))
myfile.close()

31

In [57]:
myfile = open("file.txt","w+")
print(myfile.read())
myfile.close()

In [62]:
myfile = open("file.txt","a")
print(myfile.write(" and we will continue as life long"))
myfile.close()

34

In [63]:
myfile = open("file.txt","a+")
print(myfile.read())
myfile.close()

**Assignment_04**

In [64]:
prime_numbers = [32, 84, 93, 57, 34]
prime_numbers.sort()
print(prime_numbers)

[32, 34, 57, 84, 93]

In [66]:
prime_numbers = [32, 84, 93, 57, 34]
prime_numbers.sort(reverse=True)
print(prime_numbers)

[93, 84, 57, 34, 32]

**Assignment_05**

In [68]:
#Paramarameters and Arguements
def name(name):
    print("my name is :", name)
name("Sayyed")

my name is : Sayyed

In [70]:
#Positional and keyword arguments
def student(name,branch,marks):
  print("Student name:",name,"Branch:",branch,"Obtained Marks:", marks)
student("kunal","Maths",87)

Student name: kunal Branch: Maths Obtained Marks: 87

In [76]:
def Student(marks,name="kunal", Branch="nagpur"):
  print("Student name is",name ,"I belongs from",Branch,"I obtained",marks,"marks")
Student(87)

Student name is kunal I belongs from nagpur I obtained 87 marks